* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
  width: 100%;
}

.ChatList, .Chat {
  flex: 1;
  overflow-y: auto;
}

.ChatList {
  border-right: 2px solid #ccc;
}

.Chat {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  padding: 10px;
}

input[type="text"], button {
  padding: 10px;
  margin: 5px;
}

input[type="text"] {
  flex: 1;
}
